In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
from scipy.stats import sem

In [4]:
# Read CSV files
beerlist_db = "Resources/beer_history.csv"

# Read file and put in dataframe
beerclub_db = pd.read_csv(beerlist_db)

beerclub_db.head()

,Beer PLU,Beer Name,Date Purchased,Store Name,Abv,Style,Color,Format
0,60125,21ST AMEND BACK IN BLACK,7/12/2012 0:00,Crabapple,7.2,IPA,medium,draft
1,10811,21st Amend Back in Black,6/11/2013 0:00,Mall of Georgia,7.2,IPA,medium,bottle
2,61022,21ST AMEND BITTER AMERICN,4/19/2013 0:00,Mall of Georgia,4.4,ESB,medium,draft
3,20137,21st Amend Bittr American,6/11/2013 0:00,Mall of Georgia,4.4,Pale Ale,medium,bottle
4,10690,21st Amend Brew Free,5/24/2011 0:00,Crabapple,7.0,IPA,medium,bottle

In [6]:
#Rename Columns
beerclub_db = beerclub_db.rename(columns={'Beer Name' : 'Beer',
                                          'Store Name' : 'Location',
                                          'Abv' : 'ABV',
                                          'Format' : 'Pour'})
beerclub_db.head()

,Beer PLU,Beer,Date Purchased,Location,ABV,Style,Color,Pour
0,60125,21ST AMEND BACK IN BLACK,7/12/2012 0:00,Crabapple,7.2,IPA,medium,draft
1,10811,21st Amend Back in Black,6/11/2013 0:00,Mall of Georgia,7.2,IPA,medium,bottle
2,61022,21ST AMEND BITTER AMERICN,4/19/2013 0:00,Mall of Georgia,4.4,ESB,medium,draft
3,20137,21st Amend Bittr American,6/11/2013 0:00,Mall of Georgia,4.4,Pale Ale,medium,bottle
4,10690,21st Amend Brew Free,5/24/2011 0:00,Crabapple,7.0,IPA,medium,bottle

In [7]:
#Drop Unneccessary Columns
beerclub_db.drop(columns=['Beer PLU'], axis=1, inplace=True)
beerclub_db.head()

,Beer,Date Purchased,Location,ABV,Style,Color,Pour
0,21ST AMEND BACK IN BLACK,7/12/2012 0:00,Crabapple,7.2,IPA,medium,draft
1,21st Amend Back in Black,6/11/2013 0:00,Mall of Georgia,7.2,IPA,medium,bottle
2,21ST AMEND BITTER AMERICN,4/19/2013 0:00,Mall of Georgia,4.4,ESB,medium,draft
3,21st Amend Bittr American,6/11/2013 0:00,Mall of Georgia,4.4,Pale Ale,medium,bottle
4,21st Amend Brew Free,5/24/2011 0:00,Crabapple,7.0,IPA,medium,bottle